.env
.env.*
__pycache__/
*.pyc
*.log
.venv/
venv/
.idea/
.vscode/

postgres_data/
redis_data/
proginsky_database/
proginsky_vaultwarden

*.sqlite3
*.dbproginsky_database/data/
proginsky_vaultwarden/data/
proginsky_site/core/cache/
